/* our own personal styling classes */

/* style for genre images on home screen */
.Genre-Home{
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}
.Genre-Home-Image{
    position: relative;
    display: block;
    /*width: 100%; /* for IE 6 */
    /*margin: 0 auto; */
    margin-left: auto !important;
    margin-right: auto !important;
}

.black-box{
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
.pink-box{
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    /*background: rgb(216, 86, 158); /* fallback color */
    background: rgba(216, 86, 158,0.2);
    padding: 10px;
}

.opacity {
    opacity: 0.2; /* also -moz-opacity, etc. */
    z-index: 10;
}


.opacity-1 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .7;
}

.opaque{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
filter: alpha(opacity=50); // IE 5-7

    /* Modern Browsers */
    opacity: 0.5;
}

#playlist,audio {
    background:#666;width:400px;padding:20px;
}
.active a{
    color:#5DB0E6;text-decoration:none;
}

.act li a{
    color:#eeeedd;background:#333;padding:5px;display:block;
}
.act a:hover{
    text-decoration:none;
}